version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-dsw2025
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: dsw2025tpi
      MYSQL_USER: dsw2025user
      MYSQL_PASSWORD: dsw2025pass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:

